/* header section start  */
#header-container{
    background: rgba(255, 144, 14, 0.10);
    /* width: 1920px; */
    /* height: 1322px; */
    padding: 40px 240px 40px 240px;
}
.nav-header{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    
}
nav a{
    color: var(--Dark-02, #424242);
    font-family: "Work Sans";
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.banner-header{
    color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 64px;
font-weight: 700;
}
.banner-content{
    width: 862px;
    text-align: center;
    margin: 0 auto;
}
.banner-description{
    color: var(--Dark-03, #727272);
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.btn-primary{
border-radius: 8px;
background: #FF900E;
color: #FFF;
text-align: center;
font-family: "Work Sans";
font-size: 20px;
font-weight: 600;
padding: 20px 24px;
cursor: pointer;
}
.image-one{
    border-radius: 8px;
    margin-top: 50px;
    width: 100%;
}
/* header section end  */

/*features/banner section start*/

main{
    max-width: 1440px;
    margin: 0 auto;
}

.features-container1{
    display: flex;
    align-items: center;
}
.features-teams-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    padding-top: 86px;
    padding-right: 76px;
    /* padding-bottom:86px ; */
}
.section-title1{
    width: 468px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 500;
}
.of{
    color: var(--Dark-01, #131313);
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-weight: 700;
}
.section-description1{
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* facts section  */
.facts-cards-container{
    display: flex;
    justify-content: space-around;
}
.facts-title{
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.facts-description{
    width: 542px;
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-bottom: 100px;
}
.facts-card{
    width: 241.831px;
/* height: 241.831px; */
background: #FFF;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 45px 35px 60px 35px;
}
.card-img{
    width: 45.221px;
height: 45.221px;
/* flex-shrink: 0; */
}
.card-number{
    color: var(--Dark-02, #424242);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0px;
/* padding-top: 10px;
padding-bottom: 10px; */
}
.card-header{
    color: var(--Dark-03, #727272);
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0px;
}
.sponsors{
    text-align: center;
}
.sponsors-title{
    color: var(--Dark-01, #131313);
font-family: "Work Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sponsors-description{
   
    color: var(--Dark-03, #727272);
text-align: center;
/* width: 542px; */
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 130px;
    align-items: center;
}
.sponsor-img{
    width: 155px;
    height: 50px;
}
/* footer{
    width: 1440px;
height: 100px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF4E7;

} */
.footer{
    width: 1440px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF4E7;
    
    color: var(--Dark-02, #424242);
text-align: center;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:130px 240px 216px 240px;
padding-top: 80px ;
}




/* responsive */

@media screen and (max-width:576px) {
    *{
        /* width: 100%; */
    }
   #header-container{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    nav,.features-container1 , .sponsors-img-container{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .image-one{
        width: 100%;
    }
    .features-container1{
        width: 100%;
        margin: 0 auto;
    }
    .features-teams-imgs{
        grid-template-columns: 1fr;
        padding: 0px;
    }
    .features-description{
        /* width: 100%; */
        margin-right: 0px;
    }

    .section-title1{
        width: 100%;
    }
    .section-description1{
        width: 100%;
    }
    .facts{
        width: 100%;
        margin: 0px;
    }
    .facts-description{
        width: 100%;
        padding: 0px;
        margin: 0px 0px 10px 0px;
    }
    .facts-cards-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .facts-title{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sponsor-img{
        padding: 20px;
        text-align: center;
    }
    .sponsors-img-container{
        margin: 0px;
    }
    .footer{
        margin: 0px ;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
}